:root {
  --body-color: rgba(231, 228, 228, 0.226);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: var(--body-color);
}

#__nuxt {
  // min-height: 100%;
  // height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#__layout, #page,
.fullheight {
  height: 100%;
}

.is-flex {
  display: flex;
}

.is-flex-v {
  display: flex;
  flex-direction: column;
}

.is-centered {
  justify-content: center;
  align-items: center;
}

.is-center {
  justify-content: center;
}

.is-center-v {
  align-items: center;
}

.is-space-a {
  justify-content: space-around;
}

.is-space-b {
  justify-content: space-between;
}

.is-space-e {
  justify-content: space-evenly;
}
